.detail{
    max-width: 800px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #f8f6f6;
    box-shadow: 0 10px 10px 10px rgba(186, 190, 206, 0.2),
              0 10px 20px 10px rgba(186, 190, 206, 0.5);
}
.detail__image{
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}
.detail__title{
    margin-bottom: 1rem;
}
.detail__year{
    margin-bottom: 1rem;
}
.detail__genre{
    margin-bottom: 1rem;
}
.detail__summary{
    text-indent: 1rem;
    margin-bottom: 1rem;
}